{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Аренда товаров</title>
    <link rel="stylesheet" href="{% static 'main/css/main.css' %}">
</head>
<body>
    <header>
        <h1>{{ tittle }}</h1>
        <nav>
            <ul>
                <li><a href="{% url 'catalog' %} ">Каталог</a></li>
                <li><a href="{% url 'about' %}">О нас</a></li>
                <li><a href="{% url 'contact' %}">Контакты</a></li>
            </ul>
        </nav>
    </header>
    
    <section id="home">
        <h2>Добро пожаловать в наш магазин аренды</h2>
        <p>Арендуйте лучшие товары по доступным ценам.</p>
        {% for el in values %}
            <p>{{ el }}</p>
        {% endfor %}
    </section>
    

    
    <footer>
        <p>&copy; 2025 Магазин аренды. Все права защищены.</p>
    </footer>
</body>
</html>


