{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Аренда товаров</title>
    <link rel="stylesheet" href="{% static 'main/css/main.css' %}">
</head>
<body>
    <header>
        <h1>Прокат+</h1>
        <nav>
            <ul>
                <li><a href="{% url 'catalog' %}">Предложения сайта партнера</a></li>
                <li><a href="{% url 'cars_home' %}">Каталог</a></li>
                <li><a href="{% url 'create' %}">Создать объявление</a></li>
                {% if user.is_authenticated %}
                    <li><a href="{% url 'profile' %}">Профиль</a></li>
                {% else %}
                    <li><a href="{% url 'login' %}">Войти</a></li>
                {% endif %}

                <li><a href="{% url 'contact' %}">Контакты</a></li>
            </ul>
        </nav>

    </header>

    <section id="home">
        <h2>Добро пожаловать в Прокат+</h2>
        <p>Арендуйте лучшие товары по доступным ценам.</p>

    </section>

<section id="about">
        <h2>О нашем магазине</h2>
        <p>Наш магазин предлагает широкий выбор автомобилей для аренды. Мы стремимся предоставить нашим клиентам удобные и доступные решения для краткосрочной и долгосрочной аренды.</p>

        <h3>Наша миссия</h3>
        <p>Мы хотим сделать аренду доступной, удобной и выгодной для каждого клиента.</p>

        <h3>Почему выбирают нас?</h3>
        <ul>
            <li>Большой выбор товаров</li>
            <li>Гибкие условия аренды</li>
            <li>Доступные цены</li>
            <li>Отличный сервис</li>
        </ul>
    </section>
    <footer>
        <p>&copy; 2025 Прокат+. Все права защищены.</p>
    </footer>
</body>
</html>


